body {
  background-color: #1b2922;
  background-image: url('/textures/darkWall.png');
  background-size: cover;
  background-attachment: fixed;
  color: #f5f5f5;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
